<div class="flex flex-column">
    <span class="text-lg mb-4">Registro</span>
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="Nombre de Usuario">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput placeholder="Nombre Completo">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Clave</mat-label>
        <input type="text" matInput placeholder="Clave">
    </mat-form-field>
    <button mat-button mat-flat-button color="Primary">
        <mat-icon>save</mat-icon>
        Ingresar
    </button>
    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/login">Ya tienes cuenta?</a>
    </div>
</div>